<div class="container-fluid" style="width: 90%; margin: auto;">
  <!-- Navbar -->
  <app-navbar [homeClass]="''"
              [surveyClass]="'active'"
              [volgenauClass]="''"></app-navbar>

  <div class="w3-row-padding w3-container" style="background-color: #FFCC33; padding-top: 10px; padding-bottom: 10px;">
    <h1 class="w3-x-large">Thank you for completing the survey!</h1>
    <h2 class="w3-x-large">Your survey was saved successfully!</h2>
    <div class="w3-row">
      <div class="w3-third">

        <label for="mean" style="font-weight: bold">Mean:</label><br>
        <label id="mean" for="mean">{{mean}}</label><br><br>
        <label for="standardDeviation" style="font-weight: bold">Standard Deviation:</label><br>
        <label id="standardDeviation" for="standardDeviation">{{standardDeviation}}</label><br><br>

        <h4 style="font-weight: bold">Surveys Completed</h4>
        <h5 style="font-weight: bold">Students' IDs: </h5>
        <ul>
          <li *ngFor="let studentId of studentSurveyList; let i = index">
            <a [routerLink]="['/StudentSurveyInfo']" [queryParams]="{studentId: studentId}">{{studentId}}</a>
          </li>
        </ul>

      </div>
      <div class="w3-twothird">
        <h3>Congratulations, you have won two movie tickets!</h3>
        <img src="assets/images/tickets.png" alt="" height="250px" style="margin-left: 60px;">
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
