<div class="container-fluid" style="width: 90%; margin: auto;">
  <!-- Navbar -->
  <app-navbar [homeClass]="''"
              [surveyClass]="'active'"
              [volgenauClass]="''"></app-navbar>

  <!-- Survey form -->
  <div class="w3-row-padding w3-container" style="background-color: #FFCC33; padding-top: 10px;">
    <br>
    <a href="Survey" style="margin: 20px">Go Back</a>
    <h1 class="w3-x-large" style="margin: 20px">Sorry! The student does not exist</h1><br>
  </div>

  <app-footer></app-footer>
</div>
